#profile-pic{
  width : 75%;
  height: auto;
  border-radius: 50%;
}

.section-title{
  font-size: 2em; 
  background-color: #3173c5; 
  color:#fff;
  padding:  10px;
  font-family: 'Red Hat Display';
}

.navbar{
  color: #3173c5;
}

.section-divider{
  width: 100%; 
  height: 28px; 
  border-bottom: 2px solid #c58231; 
  text-align: center;
}

.even{
  color: #c58231;
}

.even:hover{
  cursor: pointer;
  color: #fff;
}

.text-skills-even{
  color:#c58231;
  font-family: 'Red Hat Display';
}

.text-skills-even:hover{
  cursor: pointer;
  color:#fff;
}

.odd{
  color: #3173c5;
}

.odd:hover{
  cursor: pointer;
  color: #fff;
}

.text-skills-odd{
  color:#3173c5;
  font-family: 'Red Hat Display';
}

.text-skills-odd:hover{
  cursor: pointer;
  color:#fff;
}

#anime-pic{
  width : 75%;
  height: auto;
}

#gym-pic{
  width : 75%;
  height: auto;
}

.my_atropos:hover{
  cursor: pointer;
}


.screenshot:hover + .hide{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  
}

.hide{
  display: none;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #212529;
}

#landing-pic{
  width: 99vw;
  height: auto;
}

/* .parent{
  position:relative;
  width: 99vw;
  height: auto;
} */

.react-typewriter-text{
  position: absolute;
  top: 5rem;
  left: 5rem;
  font-style: italic;
}

.first-name{
  position: absolute;
  top: 10rem;
  left: 5rem;
  font-size: 10em;
  color: #fff;
  font-family: 'Red Hat Display';
}

.last-name{
  position: absolute;
  top: 20rem;
  left: 21rem;
  font-size: 10em;
  color: #fff;
  font-family: 'Red Hat Display';
}

 #about{
  width: 100%;
  height: 750px;
}

#skills{
  width: 100%;
  height: 750px;
}

#projects{
  width: 100%;
  height: 750px;
}

#contact{
  width: 100%;
  height: 750px;
} 

.body{
  background-color: #212529;
}

.text{
 color: #fff;
 font-family: 'Red Hat Display';
}

.anchor{
  color: #3173c5;
  font-family: "Red Hat Display";
}

.btn-dark{
  color:#fff !important;
  background-color: #3173c5 !important;
  font-family: 'Red Hat Display';
}

.btn-outline-dark{
  border-color:#3173c5 !important;
  background-color: #212529 !important;
  color:#fff !important;
  font-family: 'Red Hat Display';
}

.startup-logo{
  width: 10%;
  height: auto;
}

html, body {
  height: 100vh;
  width: auto;
}

#footer{
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.contact-text{
  font-size: 100px;
}

